#headerdata{
   width: 100%;
   height: 50px;
   background-color: rgba(78, 78, 78, 0.557);
   text-align: right;
   padding-right: 100px;
   padding-top: 5px;
   gap: 20px;
   font-size: 20px;
   position: sticky;
   top: 0;
   z-index: 3;
}
#footer{
   width: 100%;
   height: 130px;
   background-color: rgb(89, 140, 192);
}
#prdata{
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   width: 90%;
   margin: auto;
}
.head{
   text-align: center;
   top: 20px;
   padding: 10px;
   color: rgb(0, 200, 255);
}
h2{
   text-align: center;
   top: 20px;
   padding: 10px;
}
h1{
   text-align: center;
   top: 20px;
   padding: 10px;
   
}
#prdata{
   display: flex;
   width: 70%;
   margin: auto;
   /* border: 1px solid blue; */
}
p{
   width: 50%;
}
h3{
   font-size: 35px;
}
#prdetail{
   margin-top: 25px;
   width: 50%;
   flex-wrap: wrap;
}
